<Canvas>
    <Image src="https://1.bp.blogspot.com/-jOLa-LdidQU/V-qV2oJn1aI/AAAAAAAABPg/-6OhKKPhxT89Vs9HhyKMEnyG_0ncWGjJQCLcB/s640/image00.png" />
    <Text top={20} left={0} width={400} height={50} textAlign="center" text="bla bla bla" onKeyDown={(e) => console.log(e)}/>
    <Text top={100} left={50} width={400} height={200} fontSize={12} text="bla ތާނަ bla bla"/>
    <Text top={300} left={300} width={200} height={20} fontSize={12} textAlign="right" text="bla ތާނަ bla bla"/>
    <Image selectable={false} top={300} left={20} src="https://s.gravatar.com/avatar/60a5ce418250e26b42baef8ef7314f39?size=100&default=retro" />
</Canvas>
